<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at interdum libero. Nullam turpis neque, ultrices quis mi sed, facilisis interdum purus. Nulla facilisi. Maecenas odio dolor, vehicula quis porta at, pharetra non dui. Phasellus eget eros posuere, tristique sem vitae, molestie elit. Sed augue lorem, dapibus sed lorem ut, vestibulum lacinia libero. Sed lobortis, dolor vitae porta consequat, metus purus laoreet est, vitae faucibus ante ipsum vel quam. Fusce scelerisque eros dui. Suspendisse potenti. Donec purus quam, ornare ut consequat ultrices, rutrum eu dolor. Sed a magna eget nisi pulvinar ultrices.  
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li>
                    <i class="fa-solid fa-phone"></i> (00)9999-9999
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>email@email.com.br
                </li>
                <li>
                    <i class="fa-brands fa-whatsapp"></i>(00)9999-9999
                </li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>
</footer>